.filminfo{

    display: flex;
    padding-left: 10px;
    gap: 10px; }

    .filminfo .thumb{
        flex-shrink: 0;
        width: 250px;
    }

    .filminfo .genres{
        display: flex;
        gap: 10px;
    }

    .filminfo .subtitle{
        font-weight: 700;
    }


.addInfo{
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.473);
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    padding-left: 10px;
}